* {
	margin:0;
	padding:0;
	overflow-x: hidden;
	overflow-y: hidden;
}
a img {
	text-decoration: none;
}

body {
	margin:0;
	padding:0;
	line-height: 1.6;
}

#landing {
	background-color: #f7f7f7;
	height:100vh;
	width:100vw;
	background-position: center;
	background-size:cover;
}
#title {
	position: relative;
	font-family: 'Staatliches', cursive;
	letter-spacing: 10px;
	font-size: 40px;
	color: black;
	text-align: center;
	padding-top: 38px;
}
#web {
	position: absolute;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	font-size: 25px;
	color: black;
	left:50%;
	top: 50%;
	transform: translateX(-197%) translateY(350%);	
}
#webunder {
	position: absolute;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	font-size: 15px;
	color: black;
	left:50%;
	top: 50%;
	transform: translateX(-425%) translateY(740%);	
}
#mark {
	position: absolute;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	font-size: 25px;
	color: black;
	left:50%;
	top: 50%;
	transform: translateX(280%) translateY(350%);	
}
#markunder {
	position: absolute;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	font-size: 15px;
	color: black;
	left:50%;
	top: 50%;
	transform: translateX(1000%) translateY(740%);	
}
#box1 {
	position:absolute;
	width: 250px; 
	height: 250px;
	box-shadow: 1px 1px 5px grey;
	border-radius: 10px;
	margin:0;
	padding:0;
	left:30%;
	top: 60%;
	transform: translateX(-45%) translateY(-80%);
	background-image: url("web.jpg");
	background-size: cover;
	background-position: center;
}
#box2 {
	position:absolute;
	width: 250px; 
	height: 250px;
	box-shadow: 1px 1px 5px grey;  
	border-radius: 10px;
	margin:0;
	padding:0;
	left:30%;
	top: 60%;
	transform: translateX(182%) translateY(-80%);
	background-image: url("mymark.jpg");
	background-size: cover;
}
#view1 {
	position:absolute;
	width: 85px; 
	height: 30px;
	border: 2px solid black;
	margin:0;
	padding:0;
	left:30%;
	top: 60%;
	transform: translateX(-38%) translateY(430%);
}
.v1 {
	position: absolute;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	font-size: 20px;
	color: black;
	left:50%;
	top: 50%;
	transform: translateX(-754%) translateY(688%);	
}
#view2 {
	position:absolute;
	width: 85px; 
	height: 30px;
	border: 2px solid black;
	margin:0;
	padding:0;
	left:30%;
	top: 60%;
	transform: translateX(600%) translateY(430%);
}
.v2 {
	position: absolute;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	font-size: 20px;
	color: black;
	left:50%;
	top: 50%;
	transform: translateX(602%) translateY(688%);	
}
.nav {
	background-position: top;
	font-family: 'Staatliches', cursive;
	font-size: 25px;
	text-align: center;
	padding: 20px 0px 20px 20px;
}
.nav li {
	display: inline-table;
	text-align:center;
	padding-right: 30px;
	padding-left: 30px;
	padding-top:0;
}
.nav li a {
	text-decoration: none;
	color: black;
}

.nav li a:hover {
	text-decoration: overline;
	color: blue;
}
.li:hover {
	opacity: 80%;
}
.v1 a {
	text-decoration: none;
	color: black;
}

.v1 a:hover {
	color: blue;
}
.v2 a {
	text-decoration: none;
	color: black;
}

.v2 a:hover {
	color: blue;
}